* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #006699;
}

.white {
  background-color: #97cdff;
}

.selected {
  background-color: green;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #41efff;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.timer {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
  width: 270px;
}
